h1 {
    text-align:center;
    text-shadow: 2px 2px 2px gray;
}

#title1 {
    color : #4e4a4a;
    text-align : center;
}

.logo {
    position : absolute;
    top : 15px;
    right : 7%;
    width : 90px;
    border-radius : 5px;
}

.logo2 {
    display : inline-block;
    position : fixed;
    bottom : 80px;
    right : 6%;
    width : 150px;
}

fieldset.container {
    display : inline-block;
    position : fixed;
    top : 180px;
    right : 5%;
    width : 140px;
    background-color : #FFF0F0;
}

div.intro {
    background-color : antiquewhite;
    border-radius : 5px;
    width : 65%;
    margin-left : 5%;
}

div.menu {
    width : 220px;
    height : 3200px;
    float : right;
    background-color : whitesmoke;
}

#act1 {
    background-color : lightgoldenrodyellow;
    width : 60%;
    margin-left : 5%;
}

#act2 {
    background-color : aliceblue;
    width : 60%;
    margin-left : 5%;
}

#act3 {
    background-color : lavenderblush;
    width : 60%;
    margin-left : 5%;
}

img.pic1 {
    width : 400px;
    height : 270px;
    border : 1px;
    float: left;
    margin-left : 20px;
    margin-right : 30px;
    margin-bottom : 20px;
}

img.pic2 {
    width : 400px;
    height : 270px;
    border : 1px;
    float: left;
    margin-left : 20px;
}

ul {
    display: flex;
    list-style: none;
}
li {
    width: 100px;
    text-align: center;
}

a:hover {
    background-color: white;
    color: black;
}
a:active {
    background-color: gray;
    color: white;
}